<div
  class="-mt-1 grid grid-cols-1 gap-6 sm:mt-16 lg:grid-cols-4 mb-8 h-[calc(100vh-11rem)] overflow-hidden"
>
  <!-- Employee List Container -->
  <div
    *ngIf="!addEmployee"
    class="p-px lg:col-span-1 lg:row-span-full rounded-lg bg-white py-4 shadow-lg mb-4"
  >
    <app-person-list
      [listItems]="listItems"
      (selectedlistItem)="onSelectedEmployeeRecieved($event)"
    ></app-person-list>
  </div>

  <!--Employee Statistics-->
  <app-employees-overview
    class="p-px lg:row-span-full lg:col-span-3 rounded-lg bg-white px-7 py-4 shadow-lg sm:px-6 pb-4 mb-4 overflow-auto"
    *ngIf="selectedEmployee == null && addEmployee == false"
  ></app-employees-overview>

  <!-- Employee Info Container -->
  <div
    *ngIf="selectedEmployee || addEmployee"
    class="p-px lg:row-span-full rounded-lg bg-white px-7 py-4 shadow-lg sm:px-6 pb-4 mb-4 overflow-auto"
    [ngClass]="addEmployee ? 'lg:col-span-full' : 'lg:col-span-3'"
  >
    <app-tab-bar
      [tabItems]="tabItems"
      (selectedTab)="handleTabSelection($event)"
    ></app-tab-bar>
    <app-employee-info
      [employee]="selectedEmployee"
      *ngIf="tabItems[0].active"
    ></app-employee-info>
  </div>
</div>
