<div
  class="-mt-1 grid gap-6 sm:mt-16 lg:grid-cols-5 lg:grid-rows-12 mb-8 h-[calc(100vh-11rem)] overflow-hidden"
>
  <!-- Employee List Container -->
  <div
    class="p-px lg:col-span-3 lg:row-span-full rounded-lg bg-white py-4 shadow-lg mb-4"
  >
    <app-meeting-list></app-meeting-list>
  </div>

  <div
    class="p-px lg:row-start-1 lg:row-span-7 lg:col-span-2 rounded-lg bg-white px-7 py-4 shadow-lg sm:px-6 pb-4 mb-4 overflow-auto"
  >
    <app-schedule-table></app-schedule-table>
  </div>
</div>
