<div class="-mt-1 grid grid-cols-1 gap-6 sm:mt-16 lg:grid-cols-4">
  <div
    class="p-px lg:col-span-3 rounded-lg bg-white px-7 py-1 shadow sm:px-6 pb-4"
  >
    <app-stats
      [statistics]="customerStats"
      dataSet="Customer Metrics"
    ></app-stats>
  </div>
  <div
    class="p-px lg:col-span-1 lg:row-span-3 rounded-lg bg-white px-7 py-1 shadow-lg sm:px-6 pb-4"
  >
    <app-new-customer-list [customers]="customers"></app-new-customer-list>
  </div>
  <div
    class="p-px lg:col-span-1 rounded-lg bg-white px-7 py-1 shadow-lg sm:px-6 pb-4"
  >
    <app-doughnut-chart></app-doughnut-chart>
  </div>
  <div
    class="p-px lg:col-span-2 rounded-lg bg-white px-7 py-1 shadow-lg sm:px-6 pb-4"
  >
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="lg:col-span-3">
    <app-footer></app-footer>
  </div>
</div>
