<div
  class="-mt-1 grid grid-cols-1 gap-6 sm:mt-16 lg:grid-cols-4 mb-8 h-[calc(100vh-11rem)] overflow-hidden"
>
  <!-- Employee List Container -->
  <div
    class="p-px lg:col-span-1 lg:row-span-full rounded-lg bg-white py-4 shadow-lg mb-4"
  >
    <app-person-list [listItems]="listItems"></app-person-list>
  </div>

  <!-- Customer Info Container -->
  <div
    class="p-px lg:row-span-full lg:col-span-auto rounded-lg bg-white px-7 py-4 shadow-lg sm:px-6 pb-4 mb-4 overflow-auto"
  ></div>
</div>
