<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <div class="bg-gray-800 pb-16">
    <app-menu-bar (menuOption)="handleMenuSelection($event)"></app-menu-bar>
    <header class="py-5">
      <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-white">
          {{ currentPage }}
        </h1>
      </div>
    </header>
  </div>

  <main class="-mt-32">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <ng-container [ngSwitch]="currentPage">
        <!--<div class="rounded-lg bg-white px-5 py-1 shadow sm:px-6">-->
        <!-- Your content -->
        <app-dashboard-layout
          *ngSwitchCase="'Dashboard'"
        ></app-dashboard-layout>
        <app-team-layout *ngSwitchCase="'Team'"></app-team-layout>
        <!--</div>-->
      </ng-container>
    </div>
  </main>
</div>
