<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <div class="bg-gray-800 pb-16">
    <app-menu-bar [activeMenuItem]="currentPage"></app-menu-bar>
    <header class="py-5">
      <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-white">
          {{ currentPage }}
        </h1>
      </div>
    </header>
  </div>

  <main class="-mt-32">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <ng-container [ngSwitch]="currentPage">
        <app-dashboard-layout
          *ngSwitchCase="menuItems.Dashboard"
        ></app-dashboard-layout>
        <app-team-layout
          *ngSwitchCase="menuItems.Personnel"
          [selectedEmployee]="employeeToView"
        ></app-team-layout>

        <app-customer-layout
          *ngSwitchCase="menuItems.Customers"
          [selectedCustomer]="customerToView"
        ></app-customer-layout>
        <app-schedule-layout *ngSwitchCase="menuItems.Schedule">
        </app-schedule-layout>
        <div
          *ngSwitchCase="menuItems.Reports"
          class="flex justify-center items-center -mt-1 mt-36"
        >
          <img
            src="https://th.bing.com/th/id/R.56f40fc9940abc9a3cd6b94918250c28?rik=qrwYU99rFY2pQA&riu=http%3a%2f%2fpngimg.com%2fuploads%2funder_construction%2funder_construction_PNG46.png&ehk=c3%2bPH%2bh3v4WgkCng6bGESnaH2N26JbijAcSJ5bTDTXs%3d&risl=&pid=ImgRaw&r=0"
            class="responsive-img"
            alt="Under Construction"
          />
        </div>
      </ng-container>
    </div>
  </main>
</div>
