<div>
  <!-- Tab Selection for Mobile/Small Screen-->
  <div class="grid grid-cols-1 sm:hidden">
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select
      aria-label="Select a tab"
      (change)="onTabChange($event)"
      class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-2 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
    >
      <option
        *ngFor="let tab of tabItems"
        [value]="tab.value"
        [selected]="tab.active === true"
      >
        {{ tab.label }}
      </option>
    </select>
    <svg
      class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end fill-gray-500"
      viewBox="0 0 16 16"
      fill="currentColor"
      aria-hidden="true"
      data-slot="icon"
    >
      <path
        fill-rule="evenodd"
        d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd"
      />
    </svg>
  </div>
  <!--  Tab Menu for desktop/large screen-->
  <div class="hidden sm:block">
    <div class="border-b border-gray-200 sticky">
      <nav class="flex space-x-8 -mb-px items-center" aria-label="Tabs">
        <!-- Tab Items -->
        <a
          *ngFor="let tab of tabItems"
          href="#"
          [ngClass]="{
            'border-indigo-500 text-indigo-600': tab.active === true,
            'border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700':
              tab.active === false,
              
          }"
          class="flex whitespace-nowrap border-b-2 px-1 py-4 text-sm font-medium"
          (click)="selectTab(tab)"
        >
          {{ tab.label }}
          <span
            *ngIf="tab.indicator !== 0"
            class="ml-3 hidden rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-900 md:inline-block"
            [ngClass]="
              tab.active === true
                ? 'bg-indigo-100 text-indigo-600'
                : 'bg-gray-100 text-gray-900'
            "
          >
            {{ tab.indicator }}
          </span>
        </a>
        <a
          *ngIf="addObject || editObject"
          href="#"
          class="flex whitespace-nowrap border-l-2 px-1 py-4 border-gray-200"
        >
        </a>
        <button
          *ngIf="addObject === true"
          type="button"
          (click)="cancelAdd(objectType)"
          class="relative inline-flex items-center gap-x-1.5 rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Cancel
        </button>
        <ng-container *ngIf="addObject === false">
          <!--When Object is Active-->
          <button
            *ngIf="editObject?.isActive"
            type="button"
            (click)="openPopup(PopupAction.Deactivate)"
            class="relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Deactivate
          </button>

          <!--When Object is Inactive-->
          <ng-container *ngIf="!editObject?.isActive">
            <button
              type="button"
              (click)="openPopup(PopupAction.Reactivate)"
              class="relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Reactivate
            </button>
            <button
              type="button"
              (click)="openPopup(PopupAction.Delete)"
              class="relative inline-flex items-center gap-x-1.5 rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Delete
            </button>
          </ng-container>
        </ng-container>
      </nav>
    </div>
  </div>
  <app-popup
    *ngIf="isPopupOpen"
    (close)="closePopup()"
    (confirm)="confirmPopup()"
    [popupWarning]="popupWarning"
  ></app-popup>
</div>
